.container {
	max-width: 940px;
	margin: 0 auto 0 auto;
}
.content-area {
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
}
.main-area {
	width: 66%;
	float: left;
}
.sidebar {
	width: 34%;
	float: left;
}
.fix {
	clear: both;
}
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
footer {
	text-align: center;
	padding: 0 0 0 0;
	/*border: 1px solid #000;*/
	margin: 10px 0 0 0;
}
footer p {
	padding: 0 0 0 0;
	/*border: 1px solid red;*/
	margin: 0 0 0 0 ;
	color: #999;
}
@media screen and (max-width: 720px) {
	header {
		text-align: center;
	}
	header h1 {
		padding: 0 0 0 0;
		margin: 20px 0 0 0;
	}
	header p {
	    padding: 0 0 0 0;
    	margin: 10px 0 10px 0;
	}

	.main-area {
		/*border: 1px solid #000;*/
		width: auto;
		float: none;
		padding: 0 0 0 0;
		margin: 0 20px 0 20px
	
	}
	.sidebar {
		/*border: 1px solid #000;*/
		width: auto;
		float: none;
		padding: 0 0 0 0;
		margin: 0 20px 0 20px;
	}
}